
body {
  color: #5a5a5a; /*Font color gray*/
  font-family :Baskerville Old Face; /*showcard gothic regular;*/
  font-size:20px;
background-color:#d9c3c3;
}


/************FOOTER****************/
#footer {
	background:#732156;
	padding-top:44px;
	margin-bottom: 0px;
	color:lightgray;
        margin-top: -124px;
	/*line-height:16px;*/
}

#footer h2.title {
	color:#cc8fa1;
	font-size:21px;
	background:none;
	font-style: Javanese;
}
#footer .col-lg-3 {
	 padding-bottom:30px ;
	 padding-left: 0px;
	 padding-right:0px;
}

#footer ul{
	list-style-type: none;
}
#footer li {
	padding:0 0 15px 0;
	margin-bottom:10px;
	/*border-bottom:1px white solid;*/
	line-height:16px;
}
#footer li:last-child {
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}

#footer textarea { min-height:100px !important;
}
#footer textarea:focus, #footer input[type="text"]:focus {
  outline: 0;
}
#footer .span3{
  margin-top: 15px;
  border-radius: 5px;
}
#footer .btn-default{
  border-radius: 5px;
  background-color: #cc8fa1;
  color: white;
}
#footer .btn-default:hover{
  background-color: #edcee0;
  color: #dd3497;
}
.footer_bottom {
	background:#732156;    /*background-color:moov*/
	margin-top:0px;
	padding:23px 0 26px 0;
	color: gray;
}




.container .top
{

position: relative ;
margin-left: 550px;
margin-top: 10px;
margin-bottom: 0px;
/*top: -20px;
padding-top: 10px ;*/
font-weight : bold;
font-size : 28px;
text-align:  center;
display:inline-block;
width : 40px ;
height : 40px;
border-radius : 100%;
color :gray;
}
.container .top:hover
{
color : #cc8fa1 ;
border:solid 2px #cc8fa1;
transition: all 0.1s ;
cursor : pointer ;
}
/*Footer end*/

.cover {
    width : 100%;
    margin-top : 90px;
}file:///D:/FCI_SCU/3rd%20grade/T2/Software%20Engineer/Project/Technoshop/Images/Covers/cover.jpg
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width:767px ) {
  /* Navbar positioning foo  */
  .navbar {
	  background-color:#732156;

        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }


 .page-scroll{
	 color:white;
 }
 .page-scroll:hover{
	  background-color:black;
	 color:#cc8fa1;
	 border: 0px;

 }

    .top-nav-collapse {
        padding: 0;
    }
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 20px;
  }

}

/* MARKETING CONTENT
-------------------------------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* SERVICES */
.featurette-heading {

  line-height: 1;
  letter-spacing: -1px;
}
.lead {
    font-size : 10px;
}
.section {
    font-family:showcard gothic regular;
    color:#732156;               /*#04ccc3;*/
}
/*--------------Products Categories------------------*/
.cate {
    padding: 5em 0px 4em 0px;

}
.categories{
	text-align : center;

    color:#9d9d9d;                /*#16696b;*/
	font-family : showcard gothic regular;

}
.cate-left img{
  height: 400px;
  width: 400px;

}
.cate-left figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.cate-left figure img {
	position: relative;
	display: block;
}
.features-grids figure figcaption {
	padding: 2em;
	color: blue;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cate-left figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.cate-left figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color:#d9c3c3;
	z-index:0;
*/
}
figure.effect-bubba {
	/*background: rgba(6, 107, 195, 0.85);*/
	background: #d9c3c3;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 0px solid #732156;
	border-bottom: 0px solid #732156;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 0px solid #732156;
	border-left: 0px solid #732156;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4,figure.effect-bubba h2 {
	padding-top: 22%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#732156;         /*#cc8fa1; black;*/
	font-size: 1.8em;
    font-family: 'BreeSerif-Regular';
}
figure.effect-bubba h4.gal {
	padding-top: 21%;

}
figure.effect-bubba p {
	padding: 0px 3.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
	font-family: 'Lato-Regular';
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h4,
figure.effect-bubba:hover p,figure.effect-bubba:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-------------------categories-end-------------------------*/

/*-------------------products-starts------------------------------*/

.product-left {
    text-align: center;
}
.product-main {
    padding: 1em 0px 2.7em 0px;
    border:1px solid #732156;
}

.product {
    padding: 3em 0px 6em 0px;
}
.product-bottom h3 {
    font-size: 20px;
    color: #732156;
    margin: 0;
    text-transform: uppercase;

}
.product-bottom h4 span{
    font-size: 18px;
    color:#732156;    /*#000;*/
    margin: 5px 0 0 0;
    font-family: 'BreeSerif-Regular';
}

.product-bottom h4 cart-img {
    background: url(../images/images/cart-2.png) no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.product-left:hover .product-bottom h4 cart-img{
	background: url(../images/images/cart-3.png) no-repeat;
}
.product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.product-bottom p {
  	font-size: 15px;
    color: #999;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.product-one:nth-child(2){
	margin-top:30px;
}
img.zoom-img {
    height: 200px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
.product-left:hover img.zoom-img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0px;
}
.product-left:hover .product-bottom h3{
	color:#cc8fa1;      /*#73B6E1;*/
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-bottom h4 span{
	color:#cc8fa1;     /*#73B6E1;*/
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-main{
	border:1px solid #732156; /*#73B6E1*/;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;


}
.arr {
    border-radius:90px;
    border:0px;
    font-size : 40px;
    margin-top : 100px;
}
.pop,cart-img {
    margin:0px;
    padding:0px;

}
.sale {
    position:absolute;
    margin-top:-320px;
    margin-left:-35px;
}
.pop {
    position:absolute;
     margin-left:55px;
}

/*
.pro {
    max-width: 120px;
    text-overflow: ellipsis;
   width:100px;
     clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;


}*/

 /*--------------------------product-end-------------------------------------*/
/*---------------------------FORM-------------------------------------------*/

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color:white;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #732156;
    color: #edcee0;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #732156;
    color: #edcee0;
}



/*Form end*/
